<form action="/cart" method="post">
  <div class="form-row">
      
    <div class="col">
      <input type="text" class="form-control" placeholder="option1" name = "option_id">
    </div>
    
    <div class="col">
      <input type="text" class="form-control" placeholder="option1" name = "quantity">
    </div>
    
    <div class="col">
      <input class="btn btn-primary" type="submit">
    </div>
  </div>
</form>