<% if comments.count > 0 %>
  <ul class="list-group-flush">
    <% comments.each do |comment|%>
      <% unless comment.id == nil %>
        <li class="list-group-item">
          <div class="items-comment">
            <div class="items-comment-details ">
            
              <strong class="">
                <%= link_to comment.user.profile.name, comment.user.profile %> :
              </strong>
             
              <span><%= comment.comment %></span>
            
              <span class="">
                <% if comment.user == current_user %>
                  <span><%= link_to fa_icon("pencil"),edit_comment_path(comment)%></span>
                  <span><%= link_to fa_icon("trash"), comment_path(comment), method: :delete %></span>
                <% end %>
              </span>
            </div>
          
          </div>
        
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>댓글이 없습니다. 첫번째 댓글을 작성해 보세요</p>
<% end %>


  