<div class="row" id="store-card">
  <div class="card-columns">
    <% profiles.each do |profile| %>
    <div class="card">
      
      <%#= if profile.image? %>
        <%#= image_tag profile.image.thumb, class:"card-img-top" %>
      <%#= else %>
        <%= image_tag "http://danieladeyemi.com.ng/wp-content/uploads/2017/02/Wait.png", class:"card-img-top" %>
      <%#= end %>
      <div class="card-footer text-center">
        <%=link_to profile.name, profile %>
      </div>
    </div>
    <% end %>
  </div>
</div>