<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to 'profile_index',profiles_path %><br>
<%= link_to 'store_index',stores_path %><br>
<%= link_to 'product_index',products_path %><br>
<%= link_to 'my_cart',my_cart_path %><br>
<br>
