<div class="jumbotron text-xs-center">
  <h1 class="display-3">결제가 완료되었습니다!</h1>
  <p class="lead">
      <strong>카카오톡 메시지를 확인해주세요!</strong>
      현재는 테스트 결제로 진행되기 때문여 실제로 출금이 이루어지지 않습니다.
  </p>
  <hr>
  <p class="lead">
     <%= link_to "계속 서비스 이용", index_path, class: btn btn-lg %>
  </p>
</div>