// 색상표
// #ea573d 빨
// #fbc063 노
// #64b0bc 초
// #446699 파
// #555577 보
// 

.navbar{
    background-color: #446699 ;
    a {
      color: #fff;
    
      &:visited {
        color: #fff;
      }
    
      &:hover {
        color: #64b0bc;
        background-color: #446699;
      }
    }
}


.time-line-card{
    margin: 2rem 0 2rem 0;
    hr{
        margin: 2px 0 2px 0;
    }
}
.table{
    table-layout: auto;
}

.index-thumb{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: 2rem;
    
}

#index-user-info{
    @include media-breakpoint-down(sm) {
        display: none;
    }
    
}
#nav-tabContent{
   .container-fluid {
        margin: 1rem 0 1rem 0;
    }
}