<header id="nav-top">
  <nav class="navbar navbar-expand-xl fixed-top d-flex justify-content-between">
    
    
    <% if !user_signed_in? %>
      <%=link_to fa_icon("toggle-off 2x"), new_user_session_path, class: "nav-item nav-link" %>
    <% else %>
      <%=link_to fa_icon("toggle-on 2x"), destroy_user_session_path, class: "nav-item nav-link",
        method: :delete, data: {confirm: '로그아웃 하시겠습니까?'} %>
    <% end %>
    <%= link_to 'One-Two', root_path, class: "navbar-brand" %>
    <%= link_to fa_icon("shopping-cart 2x") , my_cart_path, class: "nav-item nav-link" %>
  </nav>
</header>
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">